$primary-font-family: 'Cabin', Arial, sans-serif;
$secondary-font-family: 'American', Times, 'Times New Roman', serif;
$title-font-family: 'Brother1816Printed', Arial, sans-serif;
$title-font-brushwell: 'Brushwell', Arial, sans-serif;

$primary-text-color: #2d2727;
$secondary-text-color: #979797;

$primary-bg-color: #fff;
$secondary-bg-color: #f0f0f0;

$primary-color: #075b37;
