#axeptio_main_button .svgr svg path:first-child {
  fill: #075b37 !important;
}

.ax-widget-container .svgr svg path {
  fill: #075b37 !important;
}

.ax-widget-container #axeptio_btn_acceptAll,
.ax-widget-container #axeptio_btn_acceptAllAndNext {
  color: #075b37 !important;
}
